 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/d15e422a758b0e05884be8e530bd9b95.jpeg');
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 126px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 826px;
  margin: 72px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 116px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 408px;
}

.u-section-2 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 44px 390px 0 111px;
}

.u-section-2 .u-image-1 {
  width: 134px;
  height: 190px;
  margin: -216px 128px 70px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 290px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
    height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 734px;
}

.u-section-3 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 624px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 458px;
  object-position: 50% 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-image-1 {
    height: 398px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    background-position: 50% 50%;
    --radius: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 464px;
    margin-top: 45px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-3 .u-image-1 {
    height: 378px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-3 .u-image-1 {
    height: 330px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-4 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 38px 404px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 37px 404px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 737px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-4 .u-group-1 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-4 .u-group-2 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-4 .u-group-3 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-4 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-4 .u-group-4 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-10 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-5 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-9 {
  padding: 0 20px;
}

.u-section-4 .u-group-5 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-6 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-11 {
  padding: 0 20px;
}

.u-section-4 .u-group-6 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-12 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

.u-section-4 .u-list-item-7 {
  background-image: linear-gradient(to right, #f67d51, #f2480a);
}

.u-section-4 .u-container-layout-13 {
  padding: 0 20px;
}

.u-section-4 .u-group-7 {
  width: 41px;
  min-height: 41px;
  background-image: none;
  height: auto;
  margin: 24px auto 0 0;
}

.u-section-4 .u-container-layout-14 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-16 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -41px 0 0 66px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 204px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 204px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-6 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 18px;
    height: auto;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-top: -40px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 782px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-6 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-15 {
    margin-top: -41px;
    margin-left: 70px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-17 {
    margin-top: -41px;
    margin-left: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 70px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 700px;
  }

  .u-section-4 .u-group-1 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-2 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-3 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-4 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-5 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-6 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .u-section-4 .u-group-7 {
    width: 27px;
    min-height: 27px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-17 {
    font-size: 1rem;
    margin-top: -32px;
    margin-right: 3px;
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1652px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 56px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 970px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-1 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-5 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-2 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-7 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-3 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-9 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-4 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-10 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-11 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-5 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-13 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-6 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-14 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-15 {
    margin-top: -28px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-group-7 {
    width: 30px;
    min-height: 28px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-16 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-17 {
    margin-top: -28px;
    margin-left: 43px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1236px;
}

.u-section-5 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 1018px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 49px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 49px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 76px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 49px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-9 {
  margin: 49px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 839px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1488px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 34px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 911px;
}

.u-section-6 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 54px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 719px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 51px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 66px auto 0;
  padding: 0 30px 0 29px;
}

.u-section-6 .u-icon-1 {
  margin-right: 4px;
}

.u-section-6 .u-social-icons-1 {
  height: 46px;
  width: 250px;
  min-width: 188px;
  margin: 80px auto 0;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-text-3 {
  width: 261px;
  margin: 45px auto 0;
}

.u-section-6 .u-text-4 {
  width: 337px;
  margin: 25px auto 0;
}

.u-section-6 .u-image-1 {
  width: 70px;
  height: 99px;
  margin: 66px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 706px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 51px;
}

.u-section-6 .u-form-1 {
  margin-bottom: 0;
  margin-top: 34px;
  background-image: none;
  height: 513px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-input-2 {
  --radius: 20px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-6 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 718px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-btn-1 {
    padding: 1px 47px;
  }

  .u-section-6 .u-social-icons-1 {
    min-width: 68px;
    min-height: 16px;
    width: 215px;
  }

  .u-section-6 .u-text-3 {
    width: 255px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 718px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-6 .u-text-2 {
    width: 558px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 676px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-6 .u-form-1 {
    height: 510px;
    width: 604px;
    margin-left: 58px;
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-6 .u-text-3 {
    width: 227px;
    margin-top: 37px;
  }

  .u-section-6 .u-text-4 {
    width: 297px;
    margin-top: 18px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 35px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-6 .u-form-1 {
    width: 457px;
    margin-right: 38px;
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 42px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 23px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 56px;
  }

  .u-section-6 .u-text-3 {
    width: 228px;
    margin-top: 47px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 716px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }
}
